html, body {
	position: relative;
	width: 100%;
	/* height: 100%; */
}

body {
	color: white;
	margin: 0;
	box-sizing: border-box;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background-color: black;
}

a {
	color: white;
	/* text-decoration: none; */
	font-size: 1.2rem;
	font-weight: 600;
}

a:hover {
	text-decoration: underline;
}

a:visited {
	color: rgb(0,80,160);
}

label {
	display: block;
}

input, button, select, textarea {
	font-family: inherit;
	font-size: inherit;
	-webkit-padding: 0.4em 0;
	padding: 0.4em;
	margin: 0 0 0.5em 0;
	box-sizing: border-box;
	border: 1px solid #ccc;
	border-radius: 2px;
}

input:disabled {
	color: #ccc;
}

button {
	color: #333;
	background-color: #f4f4f4;
	outline: none;
}

button:disabled {
	color: #999;
}

button:not(:disabled):active {
	background-color: #ddd;
}

button:focus {
	border-color: #666;
}

.container {
	/* max-width: 500px; */
	margin: 100px 20px;
}

.title {
	display: grid;
	grid-template-rows: 1fr 1fr;
	margin-bottom: 50px;
}

h1 {
	font-size: 10rem;
	margin: 0;
}

p {
	font-size: 1.2rem;
	font-weight: 600;
	line-height: 1.8rem;
}

#changer {
	margin-right: 30px;
}

@media only screen and (max-width: 600px) {
	h1 {
		font-size: 7rem;
	}
  }